*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: blueviolet;
}
.wrapper,
.single-card{
    height: 450px;
    max-width: 300px;
    margin: auto;
    position: relative;
}
.wrapper{
    perspective: 900px;
}
.single-card{
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7,-5,0.3,1.8);
    transform-style: preserve-3d;
}
.wrapper:hover .single-card{
    transform: rotateY(180deg);
}
.front,
.back{
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.front{
    cursor: pointer;
    height: 100%;
    background-image:url(hitman.webp);
    backface-visibility: hidden;
    background-size: cover;
}
.back{
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 50px;
    height: 450px;
    background: white;
}